// var

$btn-brand-bg: #000000;
$btn-brand-bg-hover: #ed1c24;
$btn-padding-xl: 12px 20px;

// mixin

@mixin btn-brand-style {
  background-color:$btn-brand-bg;
  text-transform: uppercase;
  font-size: 0.9rem;
  color: #ffffff;
  letter-spacing: 0.4px;
}

@mixin btn-brand-hover {
  background-color: $btn-brand-bg-hover;
  color: #ffffff;
}

@mixin btn-xl {
  padding: $btn-padding-xl;
}

@mixin btn-sm {
  text-transform: capitalize;
}

// scss

.btn__brand {
  @include btn-brand-style;
}

.btn__brand:hover {
  @include btn-brand-hover;
}

.btn__brand--xl {
  @include btn-xl;
}

.btn__brand--sm {
  @include btn-sm;
}

.btn__brand--reverse {
  background-color: $btn-brand-bg-hover;
}

.btn__brand--reverse:hover {
  background-color: $btn-brand-bg;
}
