/* Admin styles */

#publish {
    color: white;
    background-color: #f4670c;
    text-shadow: none;
    border: none;
    box-shadow: none;
    border-radius: 78%;
    height: 59px;
}

.wp-admin .add-new-h2 {
    color: white;
    background-color: #f4670c;
    text-shadow: none;
    border: none;
    box-shadow: none;
    border-radius: 58%;
    height: 70px;
}

 .wp-admin .page-title-action {
    color: white;
    background-color: #f4670c;
    text-shadow: none;
    border: none;
    box-shadow: none;
    border-radius: 58%;
    height: 70px;
}

.wp-admin .welcome-panel {
  background: transparent;
  width: 100%;
  align-content: center;
  text-align: center;
  display: inline-block;
  border: 0px;
  box-shadow: none;
}

.wp-admin .welcome-panel-column-container {
  width: 100%;
  box-shadow: none;
}

.wp-admin .welcome-panel-column {
  width: 100%;
  box-shadow: none;
  float: none;
  display: block;
}

.wp-admin .welcome-panel-column:first-child {
  width: 100%;
}
