body.login {
  background-image: url('surface.webp');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  box-shadow: none;
}

/* change color login form background */
#loginform  {
  background-color: transparent;
  border: 0;
  border-radius: 10px;
  box-shadow: none;
}

#loginform label {
  color: #FFF;
}

/* change login LOGO */
.login h1 a {
  background-image: url('logo.png');
  height:65px;
  width:300px;
  background-size: 300px 65px;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 30px;
}

/* custom form */

.login label {
  font-size: 12px;
}

.login input[type="text"]{
  background-color: #ffffff;
  border-radius: 7px;
}

.login input[type="password"]{
  background-color: #ffffff;
  border-radius: 7px;
}

/* end custom form */

/* style the button */

.login .button-primary {
  width: 120px;
  float: right;
  background-color: #ed5b23 !important;
  background: -webkit-linear-gradient(top, #ed5b23, #ed5b23);
  background: -moz-linear-gradient(top, #ed5b23, #ed5b23);
  background: -ms-linear-gradient(top, #ed5b23, #ed5b23);
  background: -o-linear-gradient(top, #ed5b23, #ed5b23);
  background-image: -ms-linear-gradient(top, #ed5b23 0%, #ed5b23 100%);
  color: #ffffff;
  border-radius: 5px;
  border: 0px;
  box-shadow: none;
}

.login .button-primary:hover {
  background-color: #f7936c !important;
  background: -webkit-linear-gradient(top, #ed5b23, #f7936c);
  background: -moz-linear-gradient(top, #ed5b23, #f7936c);
  background: -ms-linear-gradient(top, #ed5b23, #f7936c);
  background: -o-linear-gradient(top, #ed5b23, #f7936c);
  background-image: -ms-linear-gradient(top, #ed5b23 0%, #f7936c 100%);
  color: #fff;
  border-radius: 5px;
  border: 0px;
}

.login .button-primary:active {
  background-color: #f7936c !important;
  background: -webkit-linear-gradient(top, #f7936c, #ed5b23);
  background: -moz-linear-gradient(top, #f7936c, #ed5b23);
  background: -ms-linear-gradient(top, #f7936c, #ed5b23);
  background: -o-linear-gradient(top, #f7936c, #ed5b23);
  background-image: -ms-linear-gradient(top, #f7936c 0%, #ed5b23 100%);
  color: #fff;
  border-radius: 5px;
  border: 0px;
}

/* end style button */

/* remove lost password link */

p#nav {
  display: none;
}

/* Remove the “Back to” Link */
p#backtoblog {
  display: none;
}
