$bs-container-allow-1440 : true;

@if ($bs-container-allow-1440) {
    $grid-breakpoints: (
        xxs: 0,
        xs: 576px,
        sm: 768px,
        md: 992px,
        lg: 1200px,
        xl: 1470px
    );

    $container-max-widths: (
        xs: 540px,
        sm: 720px,
        md: 960px,
        lg: 1140px,
        xl: 1440px
    );
}