//

$font-stack: 'Montserrat', Arial, sans-serif;
$line-height: 1.4;
$text-color: #404040;

//

$primary: #ed5b23;

//

$box-shadow: 0px 0px 27px 0px rgba(0,0,0,0.1);
$box-shadow-hover: 0px 5px 27px 0px rgba(0,0,0,0.3);
$box-shadow-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
