// hero-image
.hero-image {

    /* Background styles */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    /* Sizing */
    width: 100%;
    height: 70%;
    min-width: 50%;
    position: relative;

    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Text styles */
    text-align: center;
    color: white;

}

.hero-image h1 {
    /* Text styles */
    font-size: 5em;

    /* Margins */
    margin-top: 0;
    margin-bottom: 0.5em;
}

.hero-image .btn {
    /* Positioning and sizing */
    display: block;
    width: 200px;

    /* Padding and margins */
    padding: 1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

    /* Text styles */
    color: #000;
    text-decoration: none;
    font-size: 1.5em;

    /* Border styles */
    border-radius: 20px;

    /* Background styles */
    background-color: rgb(244, 149, 66);
}
// hero-image end
