section.content {
    // Standard wrapper, useful for backgrounds, overflow and position properties

    .inner {
        // bootstrap container. We use extend here as the mixin does not provide the max-width settings
        @extend .container;
    }

    .content-wrapper {
        // Our bootstrap row, use make-row();
        @include make-row();
    }

    .content {
        // content 'column'. To make columns you must first call make-col-ready(), then apply column mixin:
        @include make-col-ready();
        @include make-col(10); // 10 is the size of the column
        @include make-col-offset(1); // offsetting by 1 column to keep this centered

        @media ($bpPrefix : $bp3) {
            // At the third breakpoint (found in _mixins.scss), we will remove the offset and make the column full-width
            @include make-col(12);
            @include make-col-offset(0);
        }
    }
}

section.affaricontent {

    .inner {
        @extend .container;
    }

    .hero-image-wrapper {
        @include make-row();
    }

    .hero-image {
        @include make-col-ready();
        @include make-col(12);

    }
}

section.profile-box {

    // Remove the styling below if it's a full width hero image

    .inner {
        @extend .container;
    }

    .hero-image-wrapper {
        @include make-row();
    }

    .hero-image {
        @include make-col-ready();
        @include make-col(12);

    }
}
