.multimedia-container {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

.multimedia-container iframe,
.multimedia-container object,
.multimedia-container embed {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// hero video

.heropanel--video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 1200px;
    margin: 0 auto;
  }

  .heropanel--video iframe, .heropanel--video object, .heropanel--video embed, .heropanel--video video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
